body{
margin: 0;
padding: 0;
height: 100vh;
    background-color: #3b3f48;
}
.calculator{
    font-weight: bold;
    width: 370px;
    background-color: #3b3f48;
    color: white;
    /* margin: 0 auto; */
    position: absolute;
 
    top: 30%;
    left: 30%;
    box-shadow: 3px 3px 3px #17181c , -3px -3px 3px #676e7e;
    padding: 2rem;
    border-radius: 10px;


}
.output{
    font-size: 3rem;
    width: 100%;
    text-align: right;
    background-color: transparent;
    color: white;
    padding: 5px;
    box-shadow:  inset 3px 3px 3px #17181c, inset -3px -3px 3px  #676e7e;
    outline: none;
    margin-bottom: 10px;
}
.keys{

    display: grid;
grid-template-columns: repeat(4,1fr);

}
.key{
    box-shadow: 3px 3px 3px #17181c, -3px -3px 3px #676e7e;
    margin: 0.4rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: 60px;
    width: 60px;
    outline: none;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
border: none;
}
.key:focus{
    box-shadow:  inset 3px 3px 3px #17181c, inset -3px -3px 3px  #676e7e;


}
/* .spa{
    grid-column: 1/span 5  ; 
} */